* {
    padding: 4px 10px ;
    margin: auto;
    text-align: center;
  }
  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10%;
    background-color:#d1e3cf;
    
  }
  .calculator {
    width: 350px;
    height: 350px;
    background-color:#bbcab8;
    text-align: center;
    border-radius: 10px;
  }
  #display {
    width: 350px;
    height: 60px;
    text-align: right;
    background-color: rgb(232, 225, 225);
    border: 2px solid rgb(116, 110, 110);
    border-style: inherit;
    font-size: 20px;
    left: 3px;
    top: 0px;
    
  }
  .cal{
    color: white;
    background-color: #72082b;
    font-size: 15px;
    margin: auto;
    width: 60px;
    height: 30px;
  }
  .operator {
    
    width: 60px;
    color: black;
    height: 30px;
    background-color: #bce5f1;
    font-size: 15px;
    margin: auto;
    
    
  }
  .number {
    color: white;
    background-color: rgb(84, 79, 79);
    font-size: 15px;
    margin: auto;
    width: 60px;
    height: 30px;
  }
  
  .math {
    width: 60px;
    height: 30px;
    color: white;
    background-color: #f1cd7e;
    font-size: 16px;
    margin: auto;
  
  }